*.gem
.DS_Store
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules
__pycache__/ 
.venv/
.bob/
.vscode
openspec

**/*.drawio
examples
visual_regression_diffs

innersource.yaml
STARTER_TEAM.md